{{!-- main.handlebars --}}
<!DOCTYPE html>
<html lang="en">
	
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/css/style.css">
		<title>wataWIKI</title>
	</head>
	
	<body>
		
		<header>
			<a href="/" style="text-decoration: none; color: black;">
				<h1>wataWiki</h1>
			</a>
		</header>
		<nav class="nav">
			<a href="/">Home</a>
		</nav>
		{{{body}}}
	 {{!-- <script src="lib/marked.js"></script>  --}}
	</body>
</html>