{{!-- home.handlebars --}}

<h3>
	<a href="/users/login">Login</a>
	{{!-- surface the login view --}}
</h3>

<h3>
	<a href="/users/register">Register</a>
	{{!-- surface the create new user view --}}
</h3>