<form action="/users/login" method="POST">
	<fieldset>
		<legend>Login</legend>
		<p>
			<label for="userName">User Name</label>
			<input type="text" name="user_name" id="userName" placeholder="Enter User Name Here" />
		</p>
		<p>
			<label for="userPword">User Password</label>
			<input type="text" name="user_pword" id="userPword" placeholder="Enter Password Here" />
		</p>
		<input type="submit" value="Login"/>
	</fieldset>
</form>
<div>
	<p>{{msg}}</p>
</div>